[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/oran-gerrit-portal-ric-dashboard-committers
	read = group GitHub Replication
[project]
	description = ARCHIVED- 2021-09-27 at the request of the project\n\nThe RIC Dashboard provides an administration and operations view of the RIC platform.
	state = read only
[plugin "its-jira"]
	enabled = true
