/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

/* notification */
.confirm-dialog-container span.content-span {
  padding: 35px 16px 20px 16px;
  text-align: center;
  font-size: 20px;
}

.page-title {
  margin-left: 0.5%;
  color: #432c85;
  font-size: 25px;
  font-weight: 100;
  transform: translate(149 56);
}