/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

/* notification */
.confirm-dialog-container span.content-span {
  padding: 35px 16px 20px 16px;
  text-align: center;
  font-size: 20px;
}

snack-bar-container.success.default {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.warn.default {
  background-color: #f99157;
  color: #fff;
}

snack-bar-container.error.default {
  background-color: #fc7169;
  color: #fff;
}


snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}

/* confirm-dialog */
.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
}